<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
        <h2>Search Camera</h2>

        <form name="myForm" th:action="@{/search}" onsubmit="return validateForm()">
            Form price : <input type="text" name="min" id="min" size="50" th:value="${min}"/>
            To Price : <input type="text" name="max" id="max" size="50" th:value="${max}"/>
            <input type="submit" value="Submit" id="btnClear"/>
        </form>

        <h3> <a th:href="@{/Register}">Insert new Camera</a></h3>

        <h3>Result</h3>
        <h3 th:text="${message}"></h3> 
        ${message}
        <table th:border="1">
            <tr>
                <th>ID</th>
                <th >Name</th>
                <th>Number</th>
                <th></th>
            </tr>
            <tr th:each="c: ${list}">
                <td th:text="${c.getId()}"></td>
                <td th:text="${c.getName()}"></td>
                <td th:text="${c.getPrice()}"></td>
                <td><a th:href="@{/delete/{id}(id=${c.getId()})}">Delete</a></td>
            </tr>
        </table>

    </body>

</html>
<script>
    function validateForm() {
  var x = document.forms["myForm"]["min"].value;
  var y = document.forms["myForm"]["max"].value;
  if (x > y) {
    alert("min cant not greater yhan max");
    return false;
  }
}
</script>